@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Override any fixed width on the timeline editor */
.react-timeline-editor {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

/* ========== Theme Variables ========== */

:root {
  --background: #0a0a0a; /* Main background */
  --foreground: #fafafa;
  --text-color: #c9d1d9; /* Main text color */
  --border: #262626; /* Borders */
  --hover-color: #21262d; /* Hover effect */
  --accent: #dc2626; /* Accent color (buttons, links) */
  --accent-foreground: #fafafa;
  --popover: #2ea043;
  --popover-foreground: #fafafa;
  --card: #0a0a0a;
  --card-foreground: #fafafa;
 
  --primary: #d60000;
  --primary-foreground: #fff5f5;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a2a2a2;
  --destructive: #661212;
  --destructive-foreground: #fafafa;
  --input: #262626;
  --ring: #d60000;


  color-scheme: dark; /*scrollbar color*/
}



/* ========== Global Layout ========== */


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* ========== Links ========== */
a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: inherit;
}

a:hover {
  color: var(--popover);
}

/* ========== Buttons ========== */
button {
  border-radius: px;
  border: 1px solid var(--border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-secondary);
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
  color: var(--text-color);
  
}

button:hover {
  background-color: var(--hover-color);
  border: var(--accent);
}



/* ========== Header ========== */
.header {
  background-color: var(--background);
  color: var(--text-color);
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid var(--border);
  /* Ensure responsiveness */
  max-width: 100%;
  width: 100%;
}

.header h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.header .layout-buttons {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.header button {
  padding: 0.5rem;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border);
  color: var(--text-color);
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
}

.header button:hover {
  background-color: var(--hover-color);
  border: var(--accent);
}

.header button svg {  
  width: 1.5rem;
  height: 1.5rem;
}

/* ========== Sidebar Right ========== */
.sidebar {
  transition: width 0.3s ease;
  background-color: var(--background);
  padding: 1rem;
}

/* ========== Sidebar Left ========== */
.sidebar-left {
  transition: width 0.3s ease;
  background-color: var(--background);
}
.sidebar-left button {
  padding: 0.5em 1.5rem;
  border: 0px solid var(--border);
}

